*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    display: flex;
    width: 600px;
    height: 700px;
    background-color: grey;
    /* justify-content:center;
    align-items: center; */
    flex-direction: column-reverse;
}
body{
    background-color: antiquewhite;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: gold;
    border: 3px solid black;
    font-size: 50px;
}
.one{
    background-color: gold;
    
}
.two{
    background-color: blueviolet;
}
.three{
    background-color: aquamarine;
}
.four{
    background-color: darkorange;
}
